<div class="coming-container">

  <div class="content">
    <div class=" mx-auto img-wrapper h-[200px] w-[200px] lg:h-[400px] lg:w-[400px] rounded-2xl overflow-hidden">
        <img class="h-full w-full object-fit" src="images/logo-light.jpeg" alt="Site Logo">
    </div>
    <h1 class="title text-4xl md:text-[4rem] my-2">
      <span>Coming</span>
      <span class="highlight">Soon</span>
    </h1>

    <p class="subtitle">
      We're building something amazing.
    </p>

    <div class="countdown scale-75 md:scale-100" *ngIf="timeLeft as time">
      <div class="time-box">
        <span>{{ time.days }}</span>
        <small>Days</small>
      </div>
      <div class="time-box">
        <span>{{ time.hours }}</span>
        <small>Hours</small>
      </div>
      <div class="time-box">
        <span>{{ time.minutes }}</span>
        <small>Minutes</small>
      </div>
      <div class="time-box">
        <span>{{ time.seconds }}</span>
        <small>Seconds</small>
      </div>
    </div>
  </div>

  <div class="floating-circle circle-1"></div>
  <div class="floating-circle circle-2"></div>
  <div class="floating-circle circle-3"></div>
</div>
